<div class="container p-5">
  <h3>Http Communication</h3>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Title</th>
        <th>Completed?</th>
      </tr>
    </thead>
    <tbody *ngIf="todos$ | async as todos">
      <tr *ngFor="let line of todos">
        <td>{{ line.id }}</td>
        <td>{{ line.userId }}</td>
        <td>{{ line.title }}</td>
        <td>{{ line.completed }}</td>
      </tr>
    </tbody>
  </table>
</div>
